
html{
    scroll-behavior: smooth;
}

a{
    color: #fff;
}

/* start navbar------------------------------- */
.navbar{
    padding: 15px 5%;
    background-color: #161223;
}
.navbar .navbar-brand {
    width: 100px;
}
.navbar-collapse .navbar-nav .active a{
    
    color: #7dc22b;
}
.navbar-collapse .navbar-nav .nav-item a:hover{
    color: #7dc22b;
}
.navbar .navbar-collapse .socialmediaicons a{
    padding: 5px 7px;
    font-size:15px;
    align-items: center;
    margin:0px 7px;
    text-decoration: none;
    border-radius: 100%;
    background-color: #7dc22b;
}
.navbar .navbar-collapse .socialmediaicons a:hover{
    color: #7dc22b;
    background-color:#fff !important;
}
.header .navbar{
    position: absolute;
    height: auto;
    top: 0;
    width: 80%;
    color: #fff;
    line-height: 50px;
}
.header .navbar .navbar-brand{
    width: 10%;

}
.dropdown .dropdown-menu a{
    color: #fff;
}
.header .navbar .navbar-toggler .fa{
    color: #7dc22b;
}
.header .navbar .navbar-collapse{
text-align: right;

}
.header #video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
/* end navbar------------------------------- */

/* ex-header---------------------------------- */
.ex-header{
    padding-top: 4.5rem;
    padding-bottom: 4rem;
    background-color: #161223;
}
.ex-header .container h1{
    font-weight: bold;
}
/* ex-header---------------------------------- */

/* ex-basic---------------------------------- */
.ex-basic {
    margin-top:6rem;
}
.ex-basic .container{
    margin: auto;
}
.ex-basic .container .img-box{
    width: 100%;
    }
.ex-basic .container .img-box img{
    width: 100%;
}
/* ex-basic---------------------------------- */

/* ex-basic---------------------------------- */
.ex-basic .container .info-box{
    width: 82%;
    margin: auto;
}
.ex-basic .container .info-box p{
    color: #53575a;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    margin-bottom: 3rem;
}
.ex-basic .container .info-box h2 {
    color: #161223;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}
/* ex-basic---------------------------------- */

/* ex-card---------------------------------- */

.ex-card .container .row {
    width: 95%;
    margin: auto;
    justify-content: space-between;
}
.ex-card .container .row .card{
    width: 32%;
    border: 0px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.ex-card .container .row .card span {
    display: inline-table;
    border-radius:100%;
    padding: 0.2rem 0.7rem;
    color: #fff;
    background-color: #7dc22b;
    font-size:20px;
    font-weight: bold;
}
.ex-card .container .row .card .card-info {
    width: 83%;
}
.ex-card .container .row .card-info h5{
    font-weight: bold;
    margin-top: 0.125rem;
    margin-bottom: 0.5rem;
    color: #161223;
}
.ex-card .container .row .card-info p{
    color: #53575a;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}
/* ex-card---------------------------------- */

/* ex-basic---------------------------------- */
.ex-basic .container .row p{
    color: #53575a;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    margin-bottom: 3rem;
}
.ex-basic .container .row h2 {  
    font-weight: bold;
    margin-top: 0.125rem;
    margin-bottom: 1.5rem;
    color: #161223;
}
.ex-basic .container .row img {
    width: 100%;
    margin-bottom: 3rem;
}
.ex-basic .container .row h3 {
    font-weight: bold;
    margin-top: 0.125rem;
    margin-bottom: 2rem;
    color: #161223;
}
.ex-basic .container .row .list-unstyled{
    width: 100%;
}
.ex-basic .container .row .list-unstyled .d-flex{
    margin: 0.5rem 0;
}
.ex-basic .container .row .list-unstyled .d-flex .flex-grow-1{
    color: #53575a;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}
.ex-basic .container .row .list-unstyled .d-flex i{
    line-height: 1.625rem;
    font-size: 0.375rem;
    margin-right: 0.5rem;
}
.ex-basic .container .row .list-unstyled .d-flex .flex-grow-1 strong{
    color: #161223;
}
.ex-basic .container .row .btn-solid-reg {
    display: inline-block;
    padding: 1.375rem 2.25rem 1.375rem 2.25rem;
    border: 1px solid #7dc22b;
    border-radius: 4px;
    background-color: #7dc22b;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}
.ex-basic .container .row .btn-solid-reg:hover{
    background-color: #fff;
    color: #7dc22b;
}
/* ex-basic---------------------------------- */

/* button--------------------- */
#myBtn {
    /* display:block; */
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #323137;
    cursor: pointer;
}
/* button---------------------- */

/* footer---------------------------------- */
.footer{
    background-color: #161223;
    padding: 8rem 0rem 0 0rem ;
}
.footer .container .row{
    width: 100%;
    margin: auto;
    justify-content: space-between;
}
.footer .container .row .foot {
    width: 30%;
    color: #9ba3b1;
    font: 400 0.85rem/1.625rem "Open Sans", sans-serif;
    margin-bottom: 3rem;
}
.footer .container .row .links .list-unstyled li{
    margin: 0.5rem 0;
}
.footer .container .row .links .list-unstyled li a{
    color: #9ba3b1;
    font: 400 0.85rem/1.625rem "Open Sans", sans-serif;
    text-decoration: none;
}
.footer .container .row .social .fa-stack{
    margin: 0px 14px 15px 0px;
    font-size: 1.375rem;
    background-color: #53575a;
    border-radius: 50%;
    text-align: center;
}
.footer .container .row .social .fa-stack:hover{
    background-color: #7dc22b;
    color: #fff;
}
.footer .container .row .social .fa-stack a{
    color: #9ba3b1;
}
.footer .container .row .social .fa-stack a:hover{
    color: #fff;
}
.footer .container .row .social p a{
    color: #9ba3b1;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    text-decoration: none;
}
.copyright{
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    color: #9ba3b1;
}
.copyright p a{
    color: #9ba3b1;
    text-decoration: none;
}
/* footer---------------------------------- */
@media (max-width:992px) {
    .ex-card .container .row{
        display: block;
    }
    .ex-card .container .row .card{
        width: 100%;
    }
    .ex-card .container .row .card .card-info {
        width: 90%;
    }

    .footer .container .row{
        display: block;
    }
    .footer .container .row .foot{
        width: 100%;
    }
}